@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(baggrund.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 35px;
    font-weight: 500;
    font-family: "Montagu Slab", serif;
    margin: auto;
    word-spacing: 5px;
}
h2{
    display: flex;
    justify-content: flex-end;
}

.p{
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
}
li, a, button {
    font-family: "Montagu Slab";
    font-weight: 250;
    font-size: 16px;
    font-weight: 650;
    color: rgb(62, 68, 85);
    text-decoration:overline;
    letter-spacing: 2px;
}
header {
    background-color: rgba(223, 182, 69, 0.4);
    max-height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    align-items: center;
    padding: 7px 10%;
}
.logo {
    cursor: pointer;
    max-width: 40%;
    margin-left: -50px;
}
.nav__links {
    margin-right: -50px;
    list-style:circle;
}
.nav__links li {
    display: inline-block;
    padding: 2px 19px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: rgb(1, 1, 2);
}
button{
    padding: 9px 25px;
    background-color: rgba(46, 48, 197, 0.4);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.index-banner{
    width: 100%;
    height: 40vh;
    background: url(baggrund.svg);
    border-bottom:transparent;
    background-repeat: no-repeat;
    background-size:auto auto;
    background-position: center;

}
.img{
    border-radius: 50%;
    max-width: 50%;
    max-height: 40vh;
}
.item1 { grid-area: header;
        margin:auto;
        font-family: "Montagu slab";
        padding: 20px;
        font-size: 40px;
        font-weight: 450;
        text-decoration:solid;
        text-decoration-color: tomato ; }
.item2 { grid-area: menu;
        background-image: url(Pictures/pb.png);
        background-position: center;
        background-size:300%;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 100%;
        background-repeat:no-repeat;
        padding: 80px; }
.item3 { grid-area: main;
        padding: 60px;
        background-color: rgba(200, 140, 140, 0.7);
        font-family: "Montagu slab" ;
        font-weight: 700;
        background-color: rgba(221, 221, 221, 0.4);
        border-top-left-radius: 40%;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 32%;
}
.item4 { grid-area: right;
         padding: 80px; }
.item5 { grid-area: footer; 
          padding: 80px;}
.itema { grid-area: a;
        background-color: rgba(105, 104, 37, 0.7);
        border-radius: 10%;
         padding: 40px;}
.itemspac{
    grid-area: spacing;
    padding: 60px;
}
.itemsp{
    grid-area: itemsp;
    padding: 30px;
}

.grid-container {
  display: grid;
  max-width: 100%;
  grid-template-areas:
  'itemsp itemsp itemsp itemsp itemsp itemsp itemsp itemsp'
  'header header header header header header header header'
  'menu menu menu menu menu right main main'
  'menu menu menu menu menu footer footer footer'
  'menu menu menu menu menu a a a'
  'menu menu menu menu menu spacing spacing spacing'
  'menu menu menu menu menu spacing spacing spacing';
  grid-gap: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
}


.footer{
    background-color: rgba(200, 140, 140, 0.7);
    display: flex;
    justify-content: end;
    width: 100%;
    height: 10vh;
}
button:hover{
    background-color: rgba(8, 34, 90, 0.8);
}
@media only screen and (max-width: 600px) {
    html, body{
        height: 100%;
    }
    .nav__links li {
        display: inline-block;
        padding: 2px 12px;
    }
    body {
      background-color: rgba(105, 104, 37, 1);
    }
    header {
        width: 100%;
        padding: 2px 10%;
        letter-spacing: 0px;
    }
    .logo {
        cursor: pointer;
        max-width: 35%;
        margin-right: 24px;
        margin-left: -30px;
    }
    img{
        border-radius: 50%;
        max-width: 100%;
        max-height: 40vh;
    }
    li, a, button {
        font-size: 12px;
        letter-spacing: 0px;
    }
    body{
        background-size: 400%;
    }
.grid-container {
    display: grid;
    max-width: 100%;
    grid-template-areas:
    'header'
    'menu '
    'menu '
    'menu '
    'main';
    grid-gap: 10px;
    padding: 10px;
  }
.item1 { padding: 35px;
display: flex;
justify-content: center;}
.item2 { padding: 200px;
        background-position: center;
        background-size:320%;
        background-repeat:no-repeat;
        display: flex;
        justify-content: center;
}
}